.checkbox-inline label, .radio-inline label{
  font-weight: normal;
}
.input-filter{
  width: 80px;
  background-color: gainsboro;
}
/*table {*/
  /*background-color: white;*/
  /*width: 100%;*/
/*}*/
/*tbody td {*/
  /*background-color: white;*/
/*}*/
/*tbody td.odd {*/
  /*background-color: #666;*/
  /*color: white;*/
/*}*/
/*td.hovered {*/
  /*background-color: lightblue;*/
  /*color: #666;*/
/*}*/
.btn-action{
  margin: 2px;
  width: 100px;
  padding: 5px;
}
.th-common{
    text-align: center;
}
.td-common{
    text-align: center;
}
